manifest {
    homePage = 'https://github.com/iarcbioinfo/RNAseq-transcript-nf'
    description = 'RNA-seq transcript-level analysis nextflow pipeline'
    mainScript = 'rnaseq-transcript.nf'
}

profiles {
  conda { process.conda = "$baseDir/environment.yml" }
  docker { 
    docker.enabled = true 
    process.container = 'iarcbioinfo/rnaseq-transcript-nf'
  }
  singularity { 
    singularity.enabled = true 
    process.container = 'iarcbioinfo/rnaseq-transcript-nf'
  }
}

process {
    process.container = 'iarcbioinfo/rnaseq-transcript-nf:dev'
    shell =  ['/bin/bash','-o','pipefail']
}

params.output_folder="."


timeline {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/rnaseq-transcript-nf_timeline.html"
}

report {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/rnaseq-transcript-nf_report.html"
}

trace {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/rnaseq-transcript-nf_trace.txt"
}

dag {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/rnaseq-transcript-nf_dag.html"
}
